.game {
    display: grid;
    height: 100%;
}

.gameBox {
    align-self: center;
    justify-self: center;
}

.waiting {
    display: grid;
}

@keyframes rotating {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}

.rotatingCard {
    justify-self: center;
    margin: 20px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
    height: 100px;
    width: 100px;
    animation: rotating 1s ease infinite
}

.rotatingCard .cardLine1 {
    background-color: var(--black);
    height: 10px;
    margin-bottom: 10px;
}

    .rotatingCard .cardLine2 {
        background-color: var(--black);
        height: 10px;
        width: 50%;
    }

.board {
    display: grid;
    grid-template-columns: 230px 1fr;
    padding: 20px;
    column-gap: 20px;
    height: 100%;
    overflow-y: hidden;
}

.gameStatus {
    padding-right: 20px;
    height: 100%;
    overflow-y: scroll;
}

.czar {
    font-weight: bold;
}

.selection {
    display: flex;
    column-gap: 10px;
}

.selection:hover .cardWrapper {
    opacity: 0.9;
}

.cardArea {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.playArea {
    flex: 1 0 auto;
    display: flex;
    column-gap: 20px;
    align-items: start;
    overflow-x: auto;
    width: 100%;
}

.playArea button {
    margin-top: 20px;
    width: 150px;
}

.hand {
    flex: 0 1 auto;
    display: flex;
    column-gap: 10px;
    width: 100%;
    padding-bottom: 20px;
    overflow-x: scroll;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}