@page "/"
@using CardsOfSpite.Web.Models

<div class="homeContainer">
    <div>
        <div class="logo box">
            <p class="logoLarge">Cards</p>
            <p class="logoSmall">of</p>
            <p class="logoLarge">Spite</p>
        </div>
        <GameConfiguration Configuration="_config" />
    </div>
    <DeckList Configuration="_config" />
</div>

@code {
    GameConfigurationViewModel _config = new();
}